/**
 * Prevent unwanted selection that may happen on swipe.
 */
#colorbox, #nextLink, #prevLink, #hoverNav {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
